ul {
    background-color: rgb(173, 173, 173);
    border: 2px dashed dimgray;
    margin: 4%;
    list-style-type:none;
    border-radius: 20px;
    box-shadow: 0 10px 5px grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px 15px;
    padding-bottom: 2%;
}
li {
    background-color: rgb(248, 244, 244);
    border: 2px solid rgb(190, 37, 37);
    padding: 2%;
    margin: 3% -2%;
    width: 90%;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(206, 99, 99) , white 15%);
    box-shadow: 0 10px 5px grey;
    min-height: 90%;

}
@media screen and (min-width: 400px){
    .ul {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 800px){
    .ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px){
    .ul {
        grid-template-columns: repeat(3, 1fr);
    }
}