button {
    background-color:rgb(204, 0, 0);
    color: white;
    float: right;
    border: lightgrey;
    font-size: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 13px 40px;
}