button {
    background-color:rgb(204, 0, 0);
    color: white;
    border: lightgrey;
    font-size: 20px;
    border-radius: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 10px 30px;
    width: 95%;
}
@media (min-width: 400px) {
    .button {
        border-radius: 5px;
        font-size: 10px;
    }
}

@media (min-width: 800px) {
    .button {
        border-radius: 10px;
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .button {
        border-radius: 20px;
        font-size: 40px;
    }
}